<%-include("partials/header", {title: title})-%>

      <div class="asset-1">
        <div class="title-create">
            <h1><%-title-%></h1>
            <a href="/admin/homeabouts/create" class="button create">Create</a>
        </div>
        <table class="styled-table table-1">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>isTop</th>
                    <th>Date</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% let counter = 1;
                result.forEach((data)=>{%>
                    <tr>
                        <td><%-counter-%></td>
                        <td><%-data.title.az-%></td>
                        <td><%-data.description.az.substring(0,50);-%>...</td>
                        <td><%-data.isTop-%></td>
                        <td><%-data.date.getDate()-%>.<%-data.date.getMonth()-%>.<%-data.date.getFullYear()-%></td>
                        <td>
                            <table>
                                <tr>
                                    <td>
                                        <form action="/admin/homeabouts/<%=data._id%>" method="get">
                                            <button type="submit" class="button read">Read</button>
                                        </form>
                                    </td>
                                    <td>
                                        <form action="/admin/homeabouts/update/<%=data._id%>" method="get">
                                            <button type="submit" class="button update">Update</button>   
                                        </form>
                                    </td>
                                    <td>
                                        <form action="/admin/homeabouts/delete/<%=data._id%>" method="post">
                                            <button type="submit" class="button delete">Delete</button>
                                        </form>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                <%counter+=1})%>
            </tbody>
        </table>
    </div>
    <script src="index.js"></script>
</body>
</html>
