<%-include("partials/header", {title: title})-%>

      <div class="asset-1">
        <div class="title-create">
            <h1><%-title-%></h1>
            <a href="/admin/partners/create" class="button create">Create</a>
        </div>
        <table class="styled-table table-1">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% let counter = 1;
                result.forEach((data)=>{%>
                    <tr>
                        <td><%-counter-%></td>
                        <td><%-data.name-%></td>
                        <td>
                            <table>
                                <tr>
                                    <td>
                                        <form action="/admin/partners/<%=data._id%>" method="get">
                                            <button type="submit" class="button read">Read</button>
                                        </form>
                                    </td>
                                    <td>
                                        <form action="/admin/partners/update/<%=data._id%>" method="get">
                                            <button type="submit" class="button update">Update</button>   
                                        </form>
                                    </td>
                                    <td>
                                        <form action="/admin/partners/update/photo/<%=data._id%>" method="get">
                                            <button type="submit" class="button update">Update Photo</button>   
                                        </form>
                                    </td>
                                    <td>
                                        <form action="/admin/partners/delete/<%=data._id%>" method="post">
                                            <button type="submit" class="button delete">Delete</button>
                                        </form>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                <%counter+=1})%>
            </tbody>
        </table>
    </div>
</body>
</html>
