<%-include("partials/header", {title: title, nav: nav})-%>
<div class="asset-1">
  <%-include("partials/goBack", {nav: nav})-%>
  <table class="styled-table table-1">
    <thead>
      <tr>
        <td>Title-AZ</td>
        <td>Title-EN</td>
        <td>Description-AZ</td>
        <td>Description-EN</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%-result.title.az-%></td>
        <td><%-result.title.en-%></td>
        <td><%-result.description.az-%></td>
        <td><%-result.description.en-%></td>
      </tr>
    </tbody>
  </table>
</div>
