<%-include("partials/header", {title: title})-%>
<div class="asset-1">
  <%-include("partials/goBack", {nav: nav})-%>
  <form action="/admin/homeabouts/update/<%=result._id%>" method="post">
    <table>
      <tr>
        <td>
          <label for="">Title: </label>
        </td>
        <td>
          <input type="text" class="text-fields" name="titleAz" placeholder="Az" value="<%=result.title.az%>">
        </td>
        <td>
          <input type="text" class="text-fields" name="titleEn" placeholder="En" value="<%=result.title.en%>">
        </td>
      </tr>
      <tr>
        <td>
          <label for="">Content: </label>
        </td>
        <td>
          <textarea type="text" class="textarea-fields" name="descriptionAz" placeholder="Az"><%-result.description.az-%></textarea>
        </td>
        <td>
          <textarea type="text" class="textarea-fields" name="descriptionEn" placeholder="En"><%-result.description.en-%></textarea>
        </td>
      </tr>
      <tr>
        <td>
          <label>Is Located Top of page? &nbsp;</label>
          <select name="isTop">
            <%if (result.isTop){%>
            <option value="false">no</option>
            <option value="true" selected>yes</option>
            <%} else {%>
            <option value="false" selected>no</option>
            <option value="true">yes</option>
            <%}%>
          </select>
      </td>
      </tr>
      <tr>
        <td>
          <label>Date: </label>
          <input type="date" name="date" id="date" value="<%=result.date.getFullYear()%>-<%=String(result.date.getMonth() + 1).padStart(2, '0')%>-<%=String(result.date.getDate()).padStart(2, '0')%>">
        </td>
      </tr>
      <tr>
        <td><button type="submit" class="button update">Submit</button></td>
      </tr>
    </table>
  </form>
</div>
