<%-include("partials/header", {title: title})-%>
<div class="asset-1">
  <%-include("partials/goBack", {nav: nav})-%>
  <form action="/admin/users/updatepassword/<%=result._id%>" method="post">
    <table>
      <tr>
        <td>
          <label for="">Username: </label>
        </td>
        <td>
          <input type="text" class="text-fields" name="username" placeholder="username" value="<%=result.username%>">
        </td>
      </tr>
      <tr>
        <td>
          <label for="">Email: </label>
        </td>
        <td>
          <input type="text" class="text-fields" name="email" placeholder="Email" value="<%=result.email%>">
        </td>
      </tr>
      <tr>
        <td>
          <label>Password: </label>
        </td>
        <td>
            <input type="password" class="text-fields" name="password" placeholder="New password" value="">
        </td>
      </tr>
      <tr>
        <td><button type="submit" class="button update">Submit</button></td>
      </tr>
    </table>
  </form>
</body>
</html>