<%-include("partials/header", {title: title})-%>
<div class="asset-1">
  <%-include("partials/goBack", {nav: nav})-%>
  <form action="/admin/teams/update/photo/<%=result._id%>" method="post" enctype="multipart/form-data">
    <table>
      <tr>
        <td>
          <label for="oldImage">Old Image: </label>
          <img id="oldImage" src="/uploads/<%=result.imageCover%>" alt="old-image" />
        </td>
      </tr>
      <tr>
        <td>
          <label for="imgInp">Upload Photo: </label>
          <input type="file" name="image" id="imgInp" accept="image/*">
        </td>
      </tr>
      <tr>
        <td>
          <label for="newImage">New Image: </label>
          <img id="newImage" src="#" alt="new-image" />
        </td>
      <tr>
        <td><button type="submit" class="button update">Submit</button></td>
      </tr>
    </table>
  </form>
  <%-include("partials/imageview")-%>
</body>
</html>