<%-include("partials/header", {title: title})-%>
<div class="asset-1">
  <%-include("partials/goBack", {nav: nav})-%>
  <form action="/admin/partners/update/<%=result._id%>" method="post">
    <table>
        <tr>
            <td>
            <label for="">Name: </label>
            <input type="text" class="text-fields" name="name" placeholder="Partner Name" value="<%=result.name%>">
            </td>
        </tr>
        <tr>
            <td>
            <label for="">URL: </label>
            <input type="text" class="text-fields" name="url" placeholder="Partner Web URL" value="<%=result.url%>">
            </td>
        </tr>
      <tr>
        <td><button type="submit" class="button update">Submit</button></td>
      </tr>
    </table>
  </form>
</div>
