<%-include("partials/header" , {title: title});-%>
<body>
  <%-include("partials/navbar", {projects: projects});-%>
  <%-include("partials/navigation" , {title: title, title_nav:title_nav });-%>
  <%galery.forEach((data)=>{%>
  <section id="eco-calendar">
    <div class="sub-title">
      <h3><%-data.title.az-%></h3>
    </div>
    <div class="sub-content">
      <a class="eco-prev"><i class="fa-solid fa-angle-left"></i></a>
      <div id="eco-slider">
        <ul id="slide-wrap">
          <%data.images.forEach(image=>{%>
          <li class="eco-item">
            <img src="/uploads/<%=image%>" alt="eco-cal-img" />
          </li>
          <%});%>
        </ul>
      </div>
      <a class="eco-next"><i class="fa-solid fa-angle-right"></i></a>
    </div>
  </section>
  <%});%> <%-include("partials/footer",{script: script, news:footer_news,
  contact:contact, projects: projects, footer:logo});-%>
</body>
