<%-include("partials/header" , {title: title});-%>
<body>
  <%-include("partials/navbar", {projects: projects});-%>
  <%-include("partials/navigation" , {title: title, title_nav:title_nav });-%>

  <section id="sub-projects">
    <div class="sub-projects-container">
      <div class="sub-projects-content">
        <%projects.forEach(project =>{%>
        <div id="<%=project.project_id%>" class="sub-title">
          <h3><%-project.project_title_az-%></h3>
        </div>
        <div class="sub-content">
          <p><%-project.project_content_az-%></p>
          <%if(project.project_images !== null) {%>
          <%if(JSON.parse(project.project_images)[0].split('.').slice(-1) ==
          'mp4') {%>
          <div class="video-of-projects-container">
            <div class="video-of-projects">
              <video controls="">
                <source
                  src="/img/<%=JSON.parse(project.project_images)[0]%>"
                  type="video/mp4"
                />
              </video>
            </div>
          </div>
          <%}else{%>
          <div class="slider-of-projects-container">
            <div class="slider-of-projects">
              <ul class="slideWrap-of-projects">
                <%JSON.parse(project.project_images).forEach((img)=>{ %>
                <li>
                  <div
                    class="projects-image"
                    style="background-image: url(/img/<%=img%>)"
                  ></div>
                </li>
                <%});%>
              </ul>
            </div>
          </div>
          <%}};%>
        </div>
        <%});%>
      </div>
      <div class="side-navbar">
        <p>Layihələrimiz</p>
        <ul>
          <%projects.forEach(project =>{ %>
          <li>
            <a href="#<%=project.project_id%>">
              <%-project.project_title_az-%>
            </a>
          </li>
          <%});%>
        </ul>
      </div>
    </div>
  </section>

  <%-include("partials/footer",{script: script, news:footer_news,
  contact:contact, projects: projects, footer:logo});-%>
</body>
