<%-include("partials/header" , {title: "Error"});-%>
<body>
    <%-include("partials/navbar");-%>
    <%-include("partials/navigation" , {title: "Error"});-%>
    <div class="content-container">
        <h1>401</h1>
        <div class="message"><%-message-%></div>
    </div>
    <%-include("partials/footer");-%>
</body>
