<%-include("partials/header" , {title: title});-%>
<body>
  <%-include("partials/navbar", {projects: projects, about:about});-%>
  <%-include("partials/navigation" , {title: title, title_nav:title_nav });-%>

  <section id="sub-about-us">
    <div class="sub-about-us-container">
      <div class="sub-about-us-content">
        <%about.forEach((data)=>{ %>
        <section id="<%=data._id%>">
          <div class="sub-about-us-2-1">
            <div class="sub-title">
              <h3><%-data.title.en-%></h3>
            </div>
            <div class="sub-content"><%-data.description.en-%></div>
          </div>
        </section>
        <%});%>
      </div>
      <div class="side-navbar">
        <p>About</p>
        <ul>
          <%about.forEach((data)=>{%>
          <li><a href="/aze/about#<%=data._id%>"><%-data.title.en-%></a></li>
          <%});%>
          <li><a href="#our-team"> Our Team </a></li>
          <li><a href="#partnership"> Partners </a></li>
        </ul>
      </div>
    </div>
  <section id="our-team">
    <div class="sub-title">
      <h3>Our Team</h3>
    </div>
    <div class="sub-content">
      <div class="our-team-container">
        <% employees.forEach((employee)=>{ %>
        <div class="col-1-of-2">
          <div class="card">
            <div class="card__side card__side--front">
              <% if(employee.imageCover === undefined){ %>
                <div
                class="card__picture"
                style="
                  background-image: url(/images/nopic.jpg);
                  background-position: bottom;
                "
              >
              <% } else { %>
              <div
                class="card__picture"
                style="
                  background-image: url(/uploads/<%=employee.imageCover%>);
                "
              >
              <% } %>
                &nbsp;
              </div>
              <div class="card__side__details">
                <ul>
                  <li><%-employee.name.en-%> <%-employee.surname.en-%></li>
                </ul>
              </div>
            </div>
            <div class="card__side card__side--back">
              <div class="card__cta">
                <div class="card__price-box">
                  <div class="card__back__details">
                    <ul>
                      <li class="back-color">
                        <%-employee.job.en-%>
                      </li>
                      <li class="back-color">
                        <%-employee.mail-%>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <%});%>
      </div>
    </div>
  </section>
  <section id="partnership">
    <div class="sub-title">
      <h3>Partners</h3>
    </div>
    <div class="container">
      <section class="customer-logos slider">
        <%partners.forEach((partner)=>{%>
        <div
          class="slide"
          style="background-image: url(/uploads/<%=partner.image%>)"
        ></div>
        <%});%>
      </section>
    </div>
  </section>
  </section>
  <%-include("partials/footer",{script: script, news:footer_news,
    contact:contact, projects: projects, footer:logo});-%>
  </body>
  