<%-include("partials/header" , {title: title});-%>
<body>
  <%-include("partials/navbar", {projects: projects});-%>
  <%-include("partials/navigation" , {title: title, title_nav:title_nav });-%>

  <section id="map">
    <address class="adress">
      <%contact.forEach((data)=>{%>
      <div class="info-col">
        <h3><%-data.title.en-%></h3>
        <p><%-data.content.en-%></p>
      </div>
      <%});%>
    </address>
    <div class="map-container">
      <iframe 
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3037.8003391479438!2d49.85529770000001!3d40.4132737!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x403087c38347b947%3A0xffe25fa774822d00!2s79%20Zaur%20Nudir%C9%99liyev%2C%20Baku%201000!5e0!3m2!1sen!2saz!4v1734353823381!5m2!1sen!2saz" 
        class="map-container" 
        allowfullscreen="true" 
        loading="lazy" 
        referrerpolicy="no-referrer-when-downgrade">
      </iframe>
    </div>
  </section>

  <%-include("partials/footer",{script: script, news:footer_news,
  contact:contact, projects: projects, footer:logo});-%>
</body>
