<%-include("partials/header" , {title: title});-%>
<body>
  <%-include("partials/navbar", {projects: projects});-%>
  <%-include("partials/navigation" , {title: title, title_nav:title_nav });-%>

  <section id="sub-news">
    <div class="section-news-container">
      <%news.forEach((data) =>{ %>
        <%-include("partials/single_new",{data:data});-%>
      <%});%>
    </div>
    <%-include("partials/pager", {total:total})-%>
  </section>

  <%-include("partials/footer",{script: script, news:footer_news,
  contact:contact, projects: projects, footer:logo});-%>
</body>
