<%-include("partials/header" , {title: title});-%>
<body>
  <%-include("partials/navbar", {projects: projects});-%>
  <%-include("partials/navigation" , {title: title, title_nav:title_nav });-%>

  <section id="sub-news">
    <div class="section-news-container">
      <%news.forEach((data) =>{ %>
      <div class="news-item">
        <div class="news-item-container">
          <div
            class="news-item-img"
            style="background-image: url('/uploads/<%=data.imageCover%>')"
          ></div>
          <div class="news-item-content">
            <div class="news-title">
              <a href="/eng/news/<%=data._id%>"> <%-data.title.en-%> </a>
            </div>
            <div class="news-date">
              <i class="fa-solid fa-calendar-days"></i>
              <p><%-data.date.getDate()-%>.<%-data.date.getMonth()+1-%>.<%-data.date.getFullYear()-%></p>
            </div>
            <div class="news-read-more">
              <button>
                <a href="/eng/news/<%=data._id%>">Read more</a>
              </button>
            </div>
          </div>
        </div>
      </div>
      <%});%>
    </div>
  </section>

  <%-include("partials/footer",{script: script, news:footer_news,
  contact:contact, projects: projects, footer:logo});-%>
</body>
